{% extends 'base.html' %}

{% block title %} Add Post {% endblock %}

{% block body %}
<form action="addpost" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container">
        <h1 class="text-center my-3">Blog Post</h1>
        <div class="mb-3">
            <label for="formFile" class="form-label">choose images</label>
            <input class="form-control" type="file" id="formFile" name="images">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Title</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" name='title' placeholder="Title">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Textarea</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" name="content" rows="3"></textarea>



        </div>

        <input type="submit" value="Post" class='btn btn-success'>
    </div>
    {% endblock %}